* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333e59;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: all 0.3s ease-in-out;
}

.login-form {
  background-color: #fff;
  border-radius: 5px;
  width: 30%;
  height: 75%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.logo img {
  height: 80px;
  margin-bottom: 30px;
}

form label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  margin-left: -70px;
}

form input[type="text"],
form input[type="password"] {
  border: 2px solid #000000;
  border-radius: 1px;
  font-size: 16px;
  margin-bottom: 35px;
  padding: 10px;
  width: 200%;
  /* Change margin-right to margin-left to move text boxes to the left */
  margin-left: -70px;
}

.form-icon {
  position: relative;
  display: inline-block;
}

.form-icon i {
  position: absolute;
  right: 0;
  top: 8px;
  color: #000;
}

form button[type="submit"] {
  background-color: #333e59;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 10px auto 10px -46px;
  padding: 15px 30px;
  width: 170%;
  display: block;
}

form button[type="submit"]:hover {
  background-color: #9a30db;
}

.links {
  margin-top: 20px;
}

.links a {
  color: #9a30db;
  font-size: 14px;
  margin-right: 10px;
  text-decoration: left;
}

.links a:hover {
  text-decoration: underline;
}

.password-field {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
